@{
    ViewBag.Title = "Single Page Application";
}

<div>
    @Html.Partial("_UserList")
    @Html.Partial("_PostList")
    @Html.Partial("_AlbumList")
    @Html.Partial("_PhotoList")
    @Html.Partial("_PostDetail")
</div>

@section scripts{ 
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angularfunction.js")"></script>
}